@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgb(95, 209, 249) 100.2%
  );
  font-size: 24px;
}

.main-container {
  width: 95%;
  margin: auto;
}
.btn-success {
  border: none;
  outline: none;
  background-color: #33ff00;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
}
.btn-success:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #5fd1f9;
}
.container1 {
  margin-left: 5%;
}
.container2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 5%;
}
.container3 {
  /* display: none; */
  position: absolute;
  top: 26%;
  left: 40%;
}
textarea {
  box-shadow: 10px 10px 24px 0 rgba(29, 29, 29, 0.75);
  outline: none;
  border: none;
  width: 275px;
  height: 275px;
  padding: 40px 25px 25px 25px;
}

.check-icon {
  position: absolute;
  right: 17%;
  top: 4%;
  color: #33ff0093;
}
.Xcheck-icon {
  position: absolute;
  right: 5%;
  top: 4%;
  color: #ff0000;
}
